<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% include 'imports.html' %}
</head>
<body class="bg-body-tertiary">

    {% include 'header.html' %}

    <h1>
        This is our 1st page
    </h1>
    <h3>How awesome</h3>
    <ul>
        <li>views.py</li>
        <li>urls.py</li>
        <li>templates</li>
        <li>settings.py</li>
        <li>stuff.py</li>
    </ul>

    <div>
        <img src="{% static 'landscape.jpg' %}" alt="">
    </div>

    <button onclick="buttonFunc()">Changes BG color</button>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>