


<form method="post">
  {% csrf_token %}
    
    <div class="container w-50 my-5">
        <div class="w-50 m-auto">
            <h1 class="h3 mb-3 fw-normal">Введите логин и пароль для входа</h1>
    
            
            {% if form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ form.non_field_errors }}
              </div>
            {% endif %}

                     
            <div class="form-floating my-2">
              <p>{{form.username}}</p>
            </div>
            <div class="form-floating my-2">
              <p>{{form.password}}</p>
            </div>
            <div class="form-floating my-2">
              <p>{{form.remember_me}} <span class="text-light px-2">Запомнить меня</span></p>
            </div>

        <div class="text-center">
            <button class="btn btn-primary w-50 py-2" type="submit">Войти</button>
        </div>
        
        </div>
    </div>

    
    

  </form>